.pomodoro {
  width: 50%;
  margin: 30px auto;
  padding: 50px;
  background-color: lightblue;
  border: 5px solid #83b8ca;
  border-radius: 10px;
}

.pomodoro h1 {
  font-size: 36px;
  font-weight: bold;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
}

.settings {
  padding-bottom: 10px;
}

.settings,
.break-settings,
.session-settings,
.controls {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.settings>div {  
  margin: 20px;
}

.setting-name {
  font-size: 20px;
  font-style: italic;
  text-align: center;
  margin-bottom: 10px;
}

.settings button,
.controls button {  
  background-color: #4CAF50;
  border: 2px solid #4CAF50;
  border-radius: 2px;
  color: white;  
  text-align: center;
  text-decoration: none;
  display: inline-block;  
  cursor: pointer;  
}

.setting-value {
  width: 24px;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  padding: 0 5px;
  margin-top: 0;
  margin-bottom: 0;
}

.display {
  width: 50%;
  margin: 0 auto;
  padding: 10px;
  border: 5px double green;
}

.display h2 {
  text-align: center;
  text-transform: uppercase;
  font-style: italic;
  font-size: 28px;
  font-weight: bold;  
  margin-top: 10px;
  margin-bottom: 15px;
}

#time-left {
  text-align: center;
  font-size: 48px;
  font-weight: bold;
  color: green;
  margin-top: 0;
  margin-bottom: 10px;  
}

.controls {
  padding-bottom: 10px;
}

.controls button {
  margin: 0 10px;
  padding: 5px 10px;
}

@media screen and (max-width: 600px) {
  .display {
    width: 90%;
  }
}